<div class="row">
    <div *ngIf= "isLoading" style="text-align: center;">
        <app-spinner></app-spinner>
    </div>
    <!-- <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <div class="alert alert-success" *ngIf="success">
        {{success}}
    </div> -->
    <app-alert [message]="error" *ngIf="error" (closeEvent)="onCloseEvent()"></app-alert>
    <div class="col-xs-12 col-md-6 col-offset-3" *ngIf="!isLoading">
        <form #authForm = "ngForm" (ngSubmit)= "onSumbit(authForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" name="email" type="email" email id="email"
                 required ngModel>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" name="password" type="password" 
                 id="password" required ngModel minlength="6">
            </div>

            <div>
                <button class="btn btn-primary" type="submit" [disabled] = '!authForm.valid'>{{isLoginMode?'LoginIn':'SignUp'}}</button>  |
                <button class="btn btn-primary" type="button" (click) = "switchMode()">Switch to {{!isLoginMode?'Login':'SignUp'}}</button>
            </div>

        </form>

    </div>

</div>