<div class = "row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)= "onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
      <app-recipe-item [index] ="i" [recipe] = "recipeEl" *ngFor="let recipeEl of recipesList; let i = index"></app-recipe-item>
    </div>

</div>
<!-- <div *ngIf= "loading">
    <img src="../../../assets/my-spinner.gif" />
</div> -->
<div *ngIf= "loading" style="text-align: center;">
    <app-spinner></app-spinner>
</div>

<!-- <app-recipe-item></app-recipe-item> -->
